/* latin-ext */
@font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/juliussansone/v9/1Pt2g8TAX_SGgBGUi0tGOYEga5WOzHsX2aE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/juliussansone/v9/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsX.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v9/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWx8QDP2V.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v9/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v9/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMICA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v9/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Icons */
@font-face {
    font-family: "verdemoderna";
    src: url("verdemoderna.woff") format('woff');
}
  

@media only screen and (min-width: 1131px) {
    h1{
        color: white;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 300;
        font-size: 43pt;
    }
    
    h2{
        color: rgba(255,255,255,0.6);
        font-style: italic;
        font-weight: 100;
        font-size: 22pt;
    }
    
    h3{
        color: #2e484c;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 24pt;
        font-weight: 500;
        padding: 0;
        margin: 40px 0px 0px 0px;
    }
    
    p{
        color: #2e484c;
        font-size: 13.25pt;
        font-weight: 500;
        line-height: 33px;
    }

    li{
        list-style: none;
        font-family: 'Julius Sans One', sans-serif;
        color: #607476;
        text-decoration: none;
        font-size: 17pt;
        border-bottom: 1px solid #d9e3dc;
        padding: 30px 0px 30px 0px;
    }
    
    #container{
        display: grid;
        grid-template-columns: 66% 34%;
    }
    
    #header{
        border-top: 12px solid #134347;
        height: 298px;
        background-image: url(images/gridlines.png), url(images/contours-opaque.png), url(images/huntington.jpg);
        background-size: contain, contain, cover;
        background-position: center;
        grid-column: 1/3;
        grid-row: 1;
    }
    
    #headerBox{
        display: grid;
        grid-template-columns: 164px auto;
        padding: 0px;
        margin: 3% 50% 1% 10%;
    }
    
    #swoosh{
        max-height: 126px;
        grid-column: 1;
        grid-row: 1/3;
    }
    
    #title{
        grid-column: 2;
        grid-row: 1;
        position: relative;
        bottom: 30px
    }
    
    #subtitle{
        grid-column: 2;
        grid-row: 2;
        position: relative;
        bottom: 80px;
        left: 6px;
    }
    
    #headerSide{
        grid-column: 2;
        grid-row: 1;
    
        background-color: rgba(20, 96, 182, 0.048);
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #viewAll{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 16pt;
        white-space: nowrap;
        color: rgba(255,255,255,0.6);
        background-color: rgba(255, 255, 255, 0.082);
        padding: 26px 27%;
    }
    
    #arrow{
        font-family: "verdemoderna";
        font-size: 30pt;
        color: rgba(255,255,255,0.6);
        background-color: rgba(255, 255, 255, 0.082);
        padding: 15px;
        margin-left: 2px;
    }
    
    #one{
        background-color: white;
        grid-column: 1;
        grid-row: 2;
        padding: 53px 150px 53px 255px;
    }
    
    #oneSide{
        background-color: #e5ede8;
        grid-column: 2;
        grid-row: 2;
    }
    
    #two{
        background-color: rgba(138,188,159,0.5);
        grid-column: 1;
        grid-row: 3;
        padding: 53px 150px 53px 255px;
    }
    
    #twoSide{
        background-color: rgba(138, 188, 159, 0.6);
        grid-column: 2;
        grid-row: 3;
    }
    
    #twoSideLi{
        list-style: none;
        font-family: 'Julius Sans One', sans-serif;
        color: #607476;
        text-decoration: none;
        font-size: 17pt;
        border-bottom: 1px solid #a0b9ad;
        padding: 30px 0px 30px 0px;
    }
    
    #designBy{
        font-family: 'Libre Baskerville', sans-serif;
        color: #c0cac3;
        font-size: 12pt;
        font-style: italic;
    }
    
    #designer{
        font-family: 'Libre Baskerville', sans-serif;
        font-size: 12pt;
    }
    
    #three{
        background-color: white;
        grid-column: 1;
        grid-row: 4;
        padding: 53px 150px 53px 255px;
    }
    
    #threeSide{
        background-color: #e5ede8;
        grid-column: 2;
        grid-row: 4;
    }
    
    #footer{
        background-image: url(images/koi.jpg);
        background-size: cover;
        grid-column: 1/3;
        grid-row: 5;
        height: 288px;
    }
    
    #footerText{
        padding: 110px 120px 100px 120px;
        font-size: 27pt;
        line-height: 70px;
        color: rgba(255,255,255,0.6);
        font-style: italic;
        text-align: center;
    }
    
    #name{
        color: #ffffffce;
        font-style: normal;
    }
    
    #links{
        height: 175px;
        background-color: #134347;
        grid-column: 1/4;
        grid-row: 6;
    }

    #linksBox{
        height: 100%;
        width: 42%;
        margin-left: 29%;
        font-family: "verdemoderna";
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    #social{
        color: #89a1a3;
        font-size: 54pt;
    }
}

@media only screen and (max-width: 1130px) {
    h1{
        color: white;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 300;
        font-size: 30pt;
    }
    
    h2{
        color: rgba(255,255,255,0.6);
        font-style: italic;
        font-weight: 100;
        font-size: 15pt;
    }
    
    h3{
        color: #2e484c;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 17pt;
        font-weight: 500;
        padding: 0;
        margin: 40px 0px 0px 0px;
    }
    
    p{
        color: #2e484c;
        font-size: 11pt;
        font-weight: 500;
        line-height: 33px;
    }

    ul{
        margin: 6% 11% 6% 0%;
        display: grid;
        grid-template-columns: auto auto;
    }

    li{
        list-style: none;
        font-family: 'Julius Sans One', sans-serif;
        color: #607476;
        text-decoration: none;
        font-size: 13pt;
        border-bottom: 1px solid #d9e3dc;
        display: inline-block;
        width: 90%;

        padding: 20px 0px;
    }

    li:nth-child(odd) {
        grid-column: 1;
    }

    li:nth-child(even) {
        grid-column: 2;
    }
    
    #container{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #header{
        border-top: 10px solid #134347;
        height: 240px;
        background-image: url(images/gridlines.png), url(images/contours-opaque.png), url(images/huntington.jpg);
        background-size: contain, contain, cover;
        background-position: center;
        grid-column: 1;
        grid-row: 1/3;
    }
    
    #headerBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 3% 10% 1% 10%;
    }
    
    #swoosh{
        max-height: 50px;
        margin-top: 7px;
        margin-bottom: 13px;
    }
    
    #title{
        font-size: 24pt;
        margin: 0;
    }
    
    #subtitle{
        font-size: 15pt;
        margin: 0;
        margin-top: 10px;
    }
    
    #headerSide{
        grid-column: 1;
        grid-row: 2;

        height: auto;

        background-color: rgba(20, 96, 182, 0.048);
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #viewAll{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 13.5pt;
        color: rgba(255,255,255,0.6);
        background-color: rgba(255, 255, 255, 0.199);
        padding: 26px 0px 26px 70px;
        width: 100%;
        text-align: center;
    }
    
    #arrow{
        display: inline;
        font-family: "verdemoderna";
        font-size: 30pt;
        color: rgba(255,255,255,0.6);
        background-color: rgba(255, 255, 255, 0.199);
        padding: 13.5px;
    }
    
    #one{
        background-color: white;
        grid-column: 1;
        grid-row: 3;
        padding: 20px 50px 20px 50px;
    }
    
    #oneSide{
        background-color: #e5ede8;
        grid-column: 1;
        grid-row: 8;
    }
    
    #two{
        background-color: rgba(138,188,159,0.5);
        grid-column: 1;
        grid-row: 4;
        padding: 20px 50px 20px 50px;
    }
    
    #twoSide{
        background-color: rgba(138, 188, 159, 0.6);
        grid-column: 1;
        grid-row: 9;
    }
    
    #twoSideLi{
        list-style: none;
        font-family: 'Julius Sans One', sans-serif;
        color: #607476;
        text-decoration: none;
        font-size: 12pt;
        border-bottom: 1px solid #a0b9ad;
        display: inline-block;
        width: 90%;
    }
    
    #designBy{
        font-family: 'Libre Baskerville', sans-serif;
        color: #c0cac3;
        font-size: 9pt;
        font-style: italic;
    }
    
    #designer{
        font-family: 'Libre Baskerville', sans-serif;
        font-size: 10pt;
    }
    
    #three{
        background-color: white;
        grid-column: 1;
        grid-row: 5;
        padding: 20px 50px 20px 50px;
    }
    
    #threeSide{
        height: 0;
        width: 0;
    }
    
    #footer{
        background-image: url(images/koi.jpg);
        background-size: cover;
        grid-column: 1;
        grid-row: 6;
        height: 250px;
    }
    
    #footerText{
        font-size: 19pt;
        line-height: 60px;
        color: rgba(255,255,255,0.6);
        font-style: italic;
        text-align: center;
        position: relative;
        top: 15%;
    }
    
    #name{
        color: #ffffffce;
        font-style: normal;
    }
    
    #links{
        height: 125px;
        background-color: #134347;
        grid-column: 1;
        grid-row: 7;
    }

    #linksBox{
        height: 100%;
        width: 100%;
        font-family: "verdemoderna";
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    #social{
        color: #89a1a3;
        font-size: 35pt;
    }
}


body{
    margin: 0;
    position: absolute;

    background-image: url(images/bamboo.png);
    background-attachment: fixed;
    font-family: 'Libre Baskerville', sans-serif;
}

#underline{
    text-decoration: underline dotted;
}

#link{
    color: #0d8ba1;
}

#download{
    font-family: 'Julius Sans One', sans-serif;
    color: #809b7e;
}

.icons{
    padding: 2px;
    color: #a9b995;
    background: #d9e1cd;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
   
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
   
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
   
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }