*{
    margin: 0;
    background-color: #c5aa85;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: rgb(50, 45, 54);
    line-height: 75px;
}

#fade{
    background: rgb(197,170,133);
    background: linear-gradient(0deg, rgba(197,170,133,0) 0%, rgba(197,170,133,1) 55%);
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 75%;
}

#mainText{
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 10%;
}